.butform{
    display: inline-block;
}
.butbut{
	border-width: 0px;
	background-color: transparent;
}
a.butbut{
	font-size:12px;
}
.butspan{

}
.material-icons{
	color:grey;
}
.material-icons:hover{
	color: red;
}
.iconoffs{
	position: relative;
	top: 3px;
	font-size: 20px
	;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fullw{
    width: 100%;
}
.catitem{
    border-bottom: 1px solid #ddd;
}
.catitem a{
    text-decoration: none;
}
input.password, td.password {
	background-color: #f1f1f1;
	text-align: left;
	color: #f1f1f1;
	border-style:unset;
}
input.password:focus, .password:hover {
	background-color: #484848;
	color: white;

}
.blind{
	background-color:transparent;
	color: transparent;
	font-size: 0.01em;
	border-width: 0px;
	border-color:transparent;
}
.success {
	color: green;
}
.error {
	color: #FF0000;
}
.info {
	color:navy;
}
.messagebar{
	font-size: 1.1em;
	color: navy;
	width: 100%;
	text-align: center;
}
.errorbar{
	font-size: 1.1em;
	color:red;
	background-color:azure;
	width: 100%;
	text-align: center;
}
.statusbar{
	font-size: 1.1em;
	color:green;
	width: 100%;
	text-align: center;
}
.ghostwhite{
	background-color:antiquewhite;
}
td.row a{
	text-decoration: none;
}
.boldx{
	font-weight: bold;
}
.locked{
	
}