select{
	background-color: transparent;
}
option{
	background-color: transparent;
}
#titlebar{
	background-image: url(bg5.jpg);
}
.butform{
    display: inline-block;
}
.butbut{
	border-width: 0px;
	background-color: transparent;
	margin:auto;
}
td button.butbut, a.butbut{
	font-size:12px;
}
i.isgrey{
	color:gainsboro;
}
i.isgrey:hover{
	color:darkgreen;
}
i.isgreen{
	color: lightseagreen;
}
i.isgreen:hover{
	color:coral;
}
.iconform{
	padding-right:0.5em;
}
.menuicon{
	font-size: 2em;
}
.micon{
	font-size:15px;
	position: relative;
	top:0.3em;
	left: 0.3em;
}
i.delicon{
	color: burlywood;
}
i.delicon:hover{
	color:indianred;
}
i.detailicon{
	color:olivedrab;
}
i.detailicon:hover{
	color:orangered;
}
i.editicon{
	color:deepskyblue;
}
i.editicon:hover{
	color: red;
}
i.passicon{
	color:darkred;
}
i.passicon:hover{
	color:darkorange;
}
i.selicon{
	color:transparent;
}
tr:hover i.selicon{
	color:green;
}
#padlock, .padlock{
	color:red;
}
i.saveicon{
	color:green;
}
i.saveicon:hover{
	color:red;
}
i.saveicon:disabled{
	color:lightslategray;
}
i.backicon{
	color:blue;
}
i.backicon:hover{
	color:orangered;
}
i.addicon{
	color:brown;
}
i.addicon:hover{
	color: green;
}
.isgreen.editicon:hover{
	color: red;
}
.isgrey.editicon:hover{
	color:dodgerblue;
}
.iconoffs{
	position: relative;
	top: .2em;
	font-size: 1em;
	;
}
.iconchev{
	position: relative;
	top: .1em;
	font-size:15px;
	color:hotpink;
}
.italic{
	font-style: italic;
}
#catedittab{
	padding-right: 1em;
	padding-top: 1em;
}
#catedittab tr td input:disabled,
#catedittab tr td select:disabled
{
	background-color:lightgrey;
	color: black;
}
#catedittab tr td input.password:disabled{
	background-color: lightgray;
	color: lightgray;
}
#catedittab tr td input.password:disabled:hover{
	background-color: lightgray;
	color: black;
}
.catitem{
    border-bottom: 1px solid #ddd;
}
.catitem a{
    text-decoration: none;
}
input.password, td.password {
	background-color: #f1f1f1;
	text-align: left;
	color: #f1f1f1;
	border-style:unset;
}
input.password:focus, .password:hover {
	background-color: #484848;
	color: white;

}
input.password {
	font-family: monospace;
}
.success {
	color: green;
}
.error {
	color: #FF0000;
}
.info {
	color:navy;
}
.messagebar{
	font-size: 1.1em;
	color: navy;
	width: 100%;
	text-align: center;
	display: inline-block;
	/* margin: 0.5em; */
}
.errorbssaar{
	font-size: 1.1em;
	color:red;
	width: 100%;
	text-align: center;
}
i .material-design{
	font-size: 40px;
}
.statusbar{
	font-size: 1.1em;
	color:green;
	width: 100%;
	text-align: center;
}
td.row {
	font-style: normal;
}
td.row a{
	text-decoration: none;
}
.boldx{
	font-weight: bold;
}
div.hide {
	display:none;
}
a.cat{
	width:100%;
	display: block;
}
.txtgrey{
	color: grey;
}
#toppane{
	width:100%;
	height:fit-content;
	display: inline-block;
	/* padding-left: 0.5em; */
	padding-right: 0.5em;

}
#navpane, .navpane{
    float: left;
    text-align: left;
    width: 20%;
	padding: 0.5em;
	word-break: break-all;
}
.detailpane{
    float: right;
    width: 77%;
    margin-bottom: 1em;
	margin-top: 1em;
}
#catview{
	word-break: break-all;
	padding:0.5em;
}
#tabplane{
	margin: 1em;
	padding: 0.5em;
	width:50em;

}
div.topnote{
	padding: 3px;
}
div#dispdialog{
	padding: 0px;
}
#catview div.w3-bar span,
#tabplane div button{
	top: 0.7em;
	margin-right: 2em;
	margin-left: 2em;
}
#catview div input,
#tabplane div input{
	width: 50%;
}
#categorytable tr td:first-child a{
	display: block;
}
.tabpane{
	width:90%;
	float:none;
	margin: auto;
}
.div50{
	width:50%;
	margin: auto;
	float: none;
	padding-bottom:0.2em;
	padding-top:0.2em;
}
#passtable{
	padding-left: 1em;
}
#passtable td:nth-child(1){
	text-align: right;
}
.seafilter{
	margin-top:0.1em;
	margin-bottom:1em;
	display: inline;
	width:100%;
}
.labform{
	text-align: right;
	float:left;
	width: 12em;
	margin-right:2em;
	display: block;
	font-weight: bold;
}
.labform +input, 
.labform +select{
	float:left;
	font-size:1.2em;
	font-style: initial;
}
.fullw{
	width: 100%;
}
#cardpanel{
	width:fit-content;
	padding-right:5em;
	margin: 3em;
}
textarea {
	font-family: monospace;
	padding: 1em;
}
textarea:disabled{
	background-color: cornsilk;
}
#titlebar p{
	margin-top:8px;
}
#delvermodal{
	width:50%;
}
#dispbar button,
#delbar button {
	font-size: 1.4em;
	margin: 1em;
}
#dispbar :nth-child(1) i,
#delbar :nth-child(1) i{
	color: green;
}
#dispbar :nth-child(2) i{
	color: chocolate;
}
#dispbar :nth-child(3) i,
#delbar :nth-child(2) i{
	color: red;
}
input::placeholder{
	color:indianred;
	opacity: 0.5;
}
.zup{
	z-index: 100;
	position: absolute;
	height: 10em;
	width: 100%;
	top:0px;
	left:0px;
	display: none;
}
i.w3-large.iconoffs{
	top: 0.15em;
}
.summ{
	font-size: 1em;
	font-style:italic;
	color:grey;
}
i.pwdicon{
	color:slateblue;
}
span.navbutt{
	position: relative;
	top:-7.5px;
	left:-7.5px;
}
span.navbutt i {
	display: block;
	font-size: 2.5em;
	color: green;
}